body {
    background: #3d5f73;
  border-radius: 9px;
  border: 10px solid #e7ecfb;
  box-shadow: 0 0 30px #497792;
  padding: 100px;
  text-align: center;
}
h1 {
    color: white;
    font-size: 3.5em;
  }
  h2 {
    color: #e7d17a;
    font-size: 2.5em;
    text-align: center;
  }
  h3 {
    color: #df0e35;
    font-size: 2em;
  }
  .input{
    background-color: #dae3ea;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 20px #edf1f3;
    text-align: center;
    font-size: large;
  }